@model List<Aluno>

@if (ViewData["MsgErro"] != null)
{
    <div class="alert-danger">
        @ViewData["MsgErro"]
    </div>
}

@if (ViewData["MsgAcept"] != null)
{

    <div class="alert-warning">
        @ViewData["MsgAcept"]
    </div>
}



<table class="table" style=" background-color: #fff;">

    <figure class="text-center">
        <h1><strong>Alunos</strong></h1>
    </figure>

    <body style=" background-color: #6193A1;margin: auto;">
    </body>


    <thead class="table table-success table-striped-columns">

        <tr>

            <th scope="col">Matricula</th>
            <th scope="col">Nome</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Curso</th>
            <th scope="col">CEP</th>
            <th scope="col">Endereço</th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (Aluno aluno in Model)
            {

                <tr>
                    <th scope="row">@aluno.Matricula</th>
                    <td>@aluno.Nome</td>
                    <td>@aluno.DataNascimento</td>
                    <td>@aluno.Curso</td>
                    <td>@aluno.Cep</td>
                    <td>@aluno.Endereco</td>
                    <td>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" role="group">
                            <a type="submit" class="btn btn-outline-success me-2" role="button" style="background-color: #ECB038;" role="button" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="@aluno.Cep">Pesquisar</a>
                            <a type="submit" class="btn btn-primary me-2" role="button" style="background-color:deepskyblue;" role="button" asp-route-id="@aluno.Id" asp-controller="Aluno" asp-action="Editar">Editar</a>
                            <a type="submit" class="btn btn-danger me-2" role="button" style="background-color:red;" role="button" asp-route-id="@aluno.Id" asp-controller="Aluno" asp-action="ExcluirConfirmacao">Excluir</a>


                        </div>
                    </td>


                </tr>
            }
        }

    </tbody>

</table>
<br />
<div class="d-grid gap-2 col-6 mx-auto">

    <a class="btn btn-outline-success me-2" style="background-color: #ECB038;" role="button" asp-controller="Aluno" asp-action="Adicionar">Adicionar Novo Aluno</a>
</div>