@model List<Aluno>



@if (TempData["MsgErro"] != null)
{
    <div class="alert-danger">
        @TempData["MsgErro"]
    </div>
}



@if (TempData["MsgSucesso"] != null)
{
    <div class="alert-success">
        @TempData["MsgSucesso"]
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Cep</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (Aluno aluno in Model)
            {
                <tr>
                    <td> @aluno.Nome</td>
                    <td> @aluno.Cep</td>



                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="@aluno.Cep">Endereco</a>
                            <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="Editar" asp-route-id="@aluno.Id">Editar</a>
                            <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="ExcluirAluno" asp-route-id="@aluno.Id">Excluir</a>
                        </div>
                    </td>
                </tr>



            }
        }
    </tbody>
</table>



<div class="text-center">
    <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Adicionar">Adicionar Aluno</a>
</div>